.overview-box
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	flex-direction: column
	padding: 1.6rem 1.6rem 1.6rem 2rem
	position: relative

	&__title
		font-size: 1.2rem
		opacity: .5

	&__stat
		margin-top: 1.4rem
		font-size: 2.4rem
		font-weight: 900
		letter-spacing: 1.05px

		&-in-percent
			display: block
			font-size: .975rem
			letter-spacing: 1px
			font-weight: 900
			margin-top: -5px

			&:first-letter
				font-size: 1.3rem

			&.is-moving-down
				color: #FF4141

			&.is-moving-up
				color: #4fc686

	&__chart
		margin-left: auto
		position: absolute
		right: 1.6rem
		width: 180px
		bottom: 40px
		height: 40px

.dashboard-card-title
	font-size: 18px
	color: #4D4F5C
	padding: .85rem

.dashboard-card-subtitle
	color: #3B86FF

.dashboard-card-content
	padding: 2rem 1.2rem

#statistics-chart-container
	margin-top: 20px

.map
	display: block
	margin: 2rem

.countries
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	flex-direction: column
	width: 94%
	margin: auto
	border-top: 1px solid lighten(#eee, 2)

.country
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	margin-top: 15px
	color: #4D4F5C

	&__revenue
		flex: 1
		text-align: right

	&:last-child
		margin-bottom: 15px

.quick-details
	margin-top: 1.6rem

	&__item
		border-top: 1px solid lighten(#eee, 2)
		padding: 15px 0

		&:last-child
			border-bottom: 1px solid lighten(#eee, 2)

		&-icon
			width: 42px
			padding: 1rem
			border-radius: 21px

			&--purple
				background-color: rgba(163, 161, 251, .2)

			&--green
				background-color: rgba(80, 216, 187, .2)

			&--orange
				background-color: rgba(255, 161, 103, .2)

			&--pink
				background-color: rgba(255, 124, 195, .2)

			&--red
				background-color: rgba(255, 132, 116, .2)

		&-about
			margin-left: 10px
			font-size: 15px

		&-duration
			flex: 1
			text-align: right
			color: #4D4F5C
			opacity: .5
