.navigation
	height: $navigation-height
	background-color: $navigation-bg-color
	box-shadow: $default-shadow

	&__title
		background-color: $navigation-title-bg-color
		color: $navigation-title-color
		height: $navigation-height
		line-height: $navigation-height
		width: $sidebar-width
		padding-left: 20px
		text-decoration: none
		letter-spacing: 2.6px
		font-size: 15px
		font-weight: 900
		display: block
